@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}
html,body{
    min-height: 100vh;
    /*vh ou % daria no msm*/
    background-color: darkgray;
    
}
header{
    background-color: black;
    color: white;
    text-align: center;

}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    /*font-variante server para deixar as lentras maisculas as primeiras letras sao maiores*/

}
header>p{
    padding-bottom: 50px;

}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

section{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    /*line-height espacamento das letras*/
    padding-left: 30px;

}
section.normal{
    background-color: white;
    color: black;

}
section.imagen{
    background-color: rgb(109, 109, 109);
    color: white;

}
section.imagen>p{
    width: 50%;
    background-color: rgb(170, 169, 169);
    padding: 10px;
    
}
