body{
    margin: 0%;
    background-color: rgb(133, 133, 133);  
}
header{
    background-image: url(imagens/bg-3.jpg);
    background-size: cover;
    height: 500px;
    background-position: right center;
    
    
}
nav{
    text-align: right;
    padding: 25px;
     
    
    
}
nav>a{
    background-color: rgb(107, 107, 107);

    padding: 10px;
    color: white;
    text-decoration: none;

    transition-duration: .5s;
    border-radius: 5px;
    

    transition-duration: .5s;
    
}
nav>a:hover{
    background-color: rgb(42, 42, 233);
}

header>div{
    
    max-width: 700px;
    min-width: 200;
    margin: auto;
    color: white;
    
}
header>div>h1{
    padding: 10px;
    text-align: center;
    font-size:50px;
    text-shadow: 2px 2px black;
}
header>div>p{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.562);
    width: 310px;
    padding: 5px;

}
main{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    background-color: rgb(145, 144, 144);
    padding: 5px;
}
main>article{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}
main>article>h1{
    background-image: linear-gradient(to left, rgb(11, 33, 235) , rgb(115, 136, 202),white);
}
main>article>a{
    background-color: rgb(199, 180, 180);
    color: blue;
}
footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}
footer>p{
    padding: 5px;
    margin: 0%;
}